body{
    margin: 0 30px;
    font-family: 'Roboto' , sans-serif;
    
}
header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}
header h1{
    font-size: 1.5em;
}
header h1 strong{
    font-size: 2em;
    text-transform: capitalize;
}

h2{
    font-size: 1.5em;
    margin-bottom: 0;
}
h5{
    margin: 0 0 2em 0;
    font-weight: 300;
}

.item{
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    padding: 1em 3em;
    overflow: hidden;
}

.command::after{
    content: url(img/terminal.svg);
    position: absolute;
    right: 130px;
    top: 40%;
    transform: scale(8);
    opacity: 0.1;
}

.git::after{
    content: url(img/git.svg);
    position: absolute;
    right: 130px;
    top: 40%;
    transform: scale(8);
    opacity: 0.1;
}

.github::after{
    content: url(img/github.svg);
    position: absolute;
    right: 130px;
    top: 40%;
    transform: scale(8);
    opacity: 0.1;
}